.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff4c4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.logo {
  max-width: 250px; /* Set the max-width */
  height: auto;
}

.logo-container {
  flex: 1; /* Take remaining space */
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  margin: 0 8px;
}

ul li a {
  background-color: #bd9100;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

ul li a:hover {
  background-color: #f5a623;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .menu-icon {
    display: none;
  }

  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .menu-toggle:checked + .menu-icon + ul {
    display: flex;
  }

  ul li {
    margin: 10px 0;
  }
}
